.post-view {
    flex-basis: 80%;
    max-width: 90ch;
    margin: auto;
    padding: 3rem 0;
}

aside {
    margin: 0 0 2rem;
}

aside p {
    margin-bottom: 0.2rem;
}

pre,
code {
    border-radius: 3px;
}

pre {
    padding: 1rem;
    background-color: var(--code-background-color);
}

code {
    background-color: var(--code-background-color);
    color: var(--code-text-color);
    transition: background-color 0.2s, color 0.2s, padding 0.2s, border-radius 0.1s;
}

pre code {
    padding: 0;
    background-color: transparent;
}

li p {
    display: inline;
    margin-bottom: 0;
}

.bad-code {
    position: relative;
    padding-top: 4rem;
}

.bad-code::before {
    position: absolute;
    top: 1rem;
    content: "Bad code";
    padding: 0.2rem 0.8rem;
    background-color: var(--bad-code-warning-background-color);
    border-radius: 15px;
}

.post-footer {
    border-top: 1px solid var(--color-300);
    padding: var(--paragraph-spacing) 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}