.posts {
    flex-basis: 25%;
    overflow-y: scroll;
    overscroll-behavior: contain;
    position: sticky;
    top: 0;
    height: calc(100vh);
    border-radius: 0.4rem;
    background-color: rgb(246, 246, 246);
}

.posts::-webkit-scrollbar {
    width: 8px;
}

.posts {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.posts::-webkit-scrollbar-track {
    background-color: rgb(246, 246, 246);
}

.posts::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

.posts .post-item:not(:first-child) {
    border-top: 1px solid rgb(209, 207, 207);
}

.posts .post-item {
    padding: 0.5rem;
}

.posts .post-item:first-child {
    margin-top: 0;
}