.posts {
    flex-basis: 25%;
    overflow-y: scroll;
    overscroll-behavior: contain;
    position: sticky;
    top: 0;
    height: calc(100vh);
    border-radius: 0.4rem;
    background-color: var(--post-list-background-color);
}

.posts::-webkit-scrollbar {
    width: 8px;
}

.posts {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) var(--post-list-background-color);
}

.posts::-webkit-scrollbar-track {
    background: var(--post-list-background-color);
}

.posts::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 6px;
    border: 3px solid var(--post-list-background-color);
}

.posts .post-item:not(:first-child) {
    border-top: 1px solid var(--post-list-divider-color);
}

.posts .post-item {
    padding: 0.5rem;
}

.posts .post-item:first-child {
    margin-top: 0;
}