.post-item:not(:first-child) {
    border-top: 1px solid var(--post-list-divider-color);
}

.post-item {
    position: relative;
    margin-top: 0;
    transition: background-color 0.2s, color 0.2s, padding 0.2s, border-radius 0.1s;
}

.post-item a[href] {
    padding: 0.7rem 2.4rem 0.7rem 0.7rem;
    display: block;
}

.post-item a[href],
.post-item a[href] code {
    color: var(--text-color);
    border-bottom: none;
}

.post-item:hover a[href] {
    text-decoration: underline;
}

.post-item--active {
    background-color: var(--color-800);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.post-item--active:first-child {
    border-top-right-radius: 0px;
}

.post-item--active:last-child {
    border-bottom-right-radius: 0px;
}

.post-item--active a[href] {
    color: var(--post-list-background-color);
}

.post-item--active a[href] code {
    color: var(--code-background-color);
    background-color: var(--code-text-color);
}

html[data-theme="dark"] .post-item--active {
    background-color: var(--color-000);
    color: var(--text-color);
}

html[data-theme="dark"] .post-item--active a[href] {
    color: var(--text-color);
}

html[data-theme="dark"] .post-item--active a[href] code {
    color: var(--code-text-color);
    background-color: var(--code-background-color);
}

html[data-theme="dark"] .post-item path {
    stroke: var(--text-color);
}

svg {
    height: 20px;
    width: 20px;
    fill: transparent;
}

.svg-container {
    position: absolute;
    /* Half of the SVG width to guarantee dead center */
    right: calc(1.2rem - 10px);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: 20px;
    pointer-events: none;
}

.post-item path {
    stroke: var(--text-color);
    stroke-width: 4px;
}

.post-item--active path {
    stroke: var(--post-list-background-color);
    stroke-width: 5px;
}

.draw {
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
    animation: dash 1s forwards;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}