.post-item:not(:first-child) {
    border-top: 1px solid var(--post-list-divider-color);
}

.post-item {
    padding: 0.7rem;
    margin-top: 0;
    cursor: pointer;

    transition: background-color 0.2s, color 0.2s, padding 0.2s, border-radius 0.1s;
}

.post-item:hover {
    text-decoration: underline;
}

.post-item--active {
    background-color: var(--color-800);
    color: var(--post-list-background-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.post-item--active:first-child {
    border-top-right-radius: 0px;
}

.post-item--active:last-child {
    border-bottom-right-radius: 0px;
}

.post-item--active code {
    color: var(--code-background-color);
    background-color: var(--code-text-color);
}