.post-item:not(:first-child) {
    border-top: 1px solid var(--post-list-divider-color);
}

.post-item {
    margin-top: 0;
    transition: background-color 0.2s, color 0.2s, padding 0.2s, border-radius 0.1s;
}

.post-item a[href] {
    padding: 0.7rem;
    display: block;
}

.post-item a[href],
.post-item a[href] code {
    color: var(--text-color);
    border-bottom: none;
}

.post-item:hover a[href] {
    text-decoration: underline;
}

.post-item--active {
    background-color: var(--color-800);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.post-item--active:first-child {
    border-top-right-radius: 0px;
}

.post-item--active:last-child {
    border-bottom-right-radius: 0px;
}

.post-item--active a[href] {
    color: var(--post-list-background-color);
}

.post-item--active a[href] code {
    color: var(--code-background-color);
    background-color: var(--code-text-color);
}