:root {
	--paragraph-spacing: 1.2rem;

	--color-000: #FFF;
	--color-100: #F3F4F8;
	--color-200: #D2D4DA;
	--color-300: #B3B4BD;
	--color-400: #9496A1;
	--color-500: #777986;
	--color-600: #5B5D6b;
	--color-700: #404252;
	--color-800: #282A3A;
	--color-900: #101223;

	--background-color: var(--color-000);
	--text-color: var(--color-900);
	--link-text-color: #5755d9;

	--post-list-background-color: var(--color-100);
	--post-list-divider-color: var(--color-200);

	--scrollbar-color: var(--color-900);

	--code-background-color: var(--color-100);
	--code-text-color: var(--text-color);
	--bad-code-background-color: #fcf2f2;
	--bad-code-text-color: #d73e48;
	--bad-code-warning-background-color: #fedada;
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	scrollbar-gutter: stable !important;
	scroll-behavior: smooth;
}

body::-webkit-scrollbar {
	width: 10px;
}

body {
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-color) var(--background-color);
}

body::-webkit-scrollbar-track {
	background: var(--background-color);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-color);
	border-radius: 6px;
	border: 3px solid var(--background-color);
}

a[href],
a[href] code {
	text-decoration: none;
	border-bottom: 1.5px solid;
	color: var(--link-text-color);
	transition: color 0.2s, background 0.2s, border-width 0.1s;
}

a[href]:hover,
a[href]:hover code {
	border-bottom-width: 5px;
}

p {
	margin: 0 0 1.2rem
}

li {
	margin-top: 0.3rem;
}

pre,
code {
	border-radius: 3px;
}

pre {
	padding: 1rem;
	background-color: var(--code-background-color);
}

code {
	background-color: var(--code-background-color);
	color: var(--code-text-color);
	transition: background-color 0.2s, color 0.2s, padding 0.2s, border-radius 0.1s;
}

pre code {
	padding: 0;
	background-color: transparent;
}

li p {
	display: inline;
	margin-bottom: 0;
}

.wrapper {
	margin: auto;
	max-width: 90ch;
	padding: 3rem 0;
}

section {
	margin: 1.6rem 0;
}

section p {
	margin-bottom: 0.8rem;
}

.bad-code {
	position: relative;
	padding-top: 4rem;
}

.bad-code::before {
	position: absolute;
	top: 1rem;
	content: "Bad code";
	padding: 0.2rem 0.8rem;
	background-color: var(--bad-code-warning-background-color);
	border-radius: 15px;
}

button {
	position: relative;
	width: 6rem;
	height: 2.5rem;
	transition: color 0.2s, background 0.2s;
}

button::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	content: "";
	background-color: var(--link-text-color);
	border-radius: 10px;
	z-index: -1;
}

button:not(.btn-primary)::before {
	animation: 0.8s pulse;
	animation-fill-mode: forwards;
}

@keyframes pulse {
	0% {
		width: 100%;
		height: 100%;
		opacity: 30%;
	}

	100% {
		opacity: 0;
		width: 150%;
		height: 200%;
	}
}