:root {
	--background-color: #fff;
	--text-color: #000;

	--post-list-background-color: #f7f8f9;
	--post-list-divider-color: rgb(209, 207, 207);

	--scrollbar-color: #000;

	--code-background-color: rgba(0, 0, 0, .05);
	--code-text-color: #3b4351;
	--bad-code-background-color: #fcf2f2;
	--bad-code-text-color: #d73e48;
	--bad-code-warning-background-color: #fedada;
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	scrollbar-gutter: stable !important;
}

body {
	display: flex;
}

body::-webkit-scrollbar {
	width: 11px;
}

body {
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-color) var(--background-color);
}

body::-webkit-scrollbar-track {
	background: var(--background-color);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-color);
	border-radius: 6px;
	border: 3px solid var(--background-color);
}

pre {
	padding: 1rem;
	background-color: var(--code-background-color);
}

pre code {
	padding: 0;
	background-color: transparent;
}

li p {
	display: inline;
	margin-bottom: 0;
}

.bad-code {
	position: relative;
	padding-top: 4rem;
}

.bad-code::before {
	position: absolute;
	top: 1rem;
	content: "Bad code";
	padding: 0.2rem 0.8rem;
	background-color: var(--bad-code-warning-background-color);
	border-radius: 15px;
}

aside {
	margin: 0 0 2rem;
}

aside p {
	margin-bottom: 0.2rem;
}